.background-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://repository-images.githubusercontent.com/276882584/f267e300-c051-11ea-9d99-8822c438d243') no-repeat center center/cover;
  }